:root {
    --row-position: 1;
    --column-position: 1;
}

html,body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 8%;
    height: 100%;
    display: grid;
    background-color: lightpink;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}

.square {
    display: grid;
    grid-template-columns: 80%;
    grid-row: var(--row-position);
    grid-column: var(--column-position);
    background-color: lightblue;
}

.x-pic {
    background-image: url("assets/tic-tac-toe-x.png");
    background-size: 100% 100%;
}

.o-pic {
    background-image: url(assets/tic-tac-toe-circle.png);
    background-size: 100% 100%;
}